<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lead Search Tool</title>
    
</head>
<body>
    <div class="container">
        <h2>Lead Search Tool</h2>
        <input type="text" id="platform" placeholder="Enter Platform (e.g. instagram.com)">
        <input type="text" id="emailFormat" placeholder="Email Format (e.g. @gmail.com)">
        <input type="text" id="businessType" placeholder="Business Type (e.g. boutiques)">
        <input type="text" id="location" placeholder="Location (e.g. New York)">
        <button onclick="searchLeads()">Search Leads</button>
    </div>

    <div class="container" id="resultsContainer">
        <h3>Results:</h3>
        <ul id="resultsList"></ul>
    </div>

    
</body>
</html>
